<div>
  <h2><%= @entry.title %></h2>
  <span class="timestamp">
    Posted by <%= link_to @entry.user.name, @entry.user %>, <%= time_ago_in_words @entry.created_at %> ago
  </span>
  <hr/>
  <p class="content">
    <%= @entry.body %>
  </p>
  <hr/>
  <div class="comments">
  <h2>Comments(<%= @comments.count %>)</h2>
    <%= render @comments %>
    <% if logged_in? %>
      <%= render 'comment_form' %>
    <% else %>
      Please <%= link_to "sign in", "/login" %> to comment
    <% end %>

    <%= will_paginate @comments %>
  </div>

</div>