<h1 style="color:dimgray">Sign up</h1>
<div class="row" style="margin-top:40px;">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @user, class: "form-signin", html: {role:"form"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
      <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
      <%= f.email_field :email, class: 'form-control middle', placeholder: "E-mail" %>
      <%= f.password_field :password, class: 'form-control middle', placeholder: "Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control bottom', placeholder: "Confirm Password" %>
      <br/>
      <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block" %>
      </fieldset>
    <% end %>

  </div>
</div>
